// Custom Scss Styles

.first-section {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    min-height: 40rem;

    @include media-breakpoint-up(lg) {
        padding-top: calc(4rem + #{$navbar-height});
        padding-bottom: 0;
        height: 10vh;
    }
}

.page-section {
    padding: 5rem 0;
}

.text-white-75 {
    color: fade-out($white, 0.25);
}

hr.divider {
    max-width: 15rem;
    border-width: 0.2rem;
    border-color: $primary;
}

hr.light {
    border-color: $white;
}

.btn {
    font-family: $font-family-sans-serif;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    border: none;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.2s ease-in-out;
}
.page-enter,
.page-leave-active {
    opacity: 0;
    transform: translateY(2000px);
}
